@import "./styles/_vars.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  height: 0.37rem;
  width: 0.37rem;
  background-color: var(--accent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--placeholderText);
  border-radius: 6px;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button,
input {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

[class*="notiflix"] {
  font-family: var(--font-family) !important;
}
