.AddRecipePage {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 32px;
  margin-bottom: 40px;
}

.AddRecipe {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 50px;

  width: 100%;
}

.Recipe {
  flex: 1;
}

.Addon {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.demoNotice {
  margin-top: 40px;
  text-align: center;
  color: var(--popularDescriptionText);
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .AddRecipe {
    /* width: 704px; */
    gap: 80px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .AddRecipe {
    /* width: 1240px; */
    flex-direction: row;
    gap: 120px;
    margin-bottom: 200px;
  }
}
