.CategoriesList {
  display: flex;
  flex-wrap: nowrap;
  gap: 28px;
  border-bottom: 1px solid var(--secondBg);
  color: var(--titlesColor);
  overflow: scroll;
  padding: 10px 0 32px 29px;
}

.listItem {
  position: relative;
}

.button {
  cursor: pointer;
  color: inherit;
}

.marked {
  display: block;
  color: var(--accent);
}

.isDark {
  color: var(--primaryColor);
}

.marked::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  width: fit-content;
  height: 1px;
  background-color: var(--accent);
}
