.ModalEditUser {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: center;
}

.user {
  position: relative;
  width: 103px;
  height: 103px;
  border-radius: 100%;
  border: 1px solid currentColor;
  background-color: var(--secondBg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconUser {
  width: 47px;
  height: 47px;
  transition: transform 500ms;
}

.iconPlus {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 10px;
  transition: transform 500ms;
}

.user:hover .iconPlus {
  transform: scale(1.2) rotate(360deg);
  transition: transform 500ms;
}

.user:hover .iconUser {
  transform: scale(1.1);
  transition: transform 500ms;
}

.inputContainer {
  position: relative;
  align-items: center;

  width: 100%;
  padding: 12px 14px;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  border: 1px solid var(--thirdColor);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
}

.inputContainer.isDark {
  border-color: var(--primaryColor);
}

.iconEdit {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 18px;
}

.iconName {
  width: 24px;
  height: 24px;
  color: currentColor;
  opacity: 100%;
}

.image {
  overflow: hidden;

  min-height: 100%;
  min-width: 100%;

  text-align: right;

  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;

  z-index: 2;

  cursor: pointer;
}

.imageBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.inputName {
  min-width: calc(100% - 60px);
  text-align: left;
  color: inherit;
}

.inputName::placeholder {
  color: #ffffff80;
}

.delete {
  color: red;
  width: 100%;
  text-align: right;
  cursor: pointer;
  padding: 10px 0;
}

.delete:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.demoNotice {
  font-size: 12px;
  color: var(--popularDescriptionText);
  text-align: center;
}
