.Pagination {
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 5px 28px;
  border-radius: 26px;
  box-shadow: 0 4px 4px 0 rgba(135, 135, 135, 0.2);
  background-color: #fafafa;
  margin: 0 auto;
}

.Pagination.isDark {
  background-color: var(--paginationBgDark);
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 18px;
  max-width: 100%;
  overflow-x: scroll;
  height: 100%;
  padding: 6px;
}

.arrows {
  width: 8px;
  height: 15px;
  color: var(--paginationArrow);
}

.arrows:hover {
  color: var(--accent);
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 27px;
  max-width: 27px;
  min-height: 27px;
  max-height: 27px;
  border-radius: 100%;
  cursor: pointer;
}

.number:hover {
  background-color: var(--elementBg);
}

.number.isDark:hover {
  background-color: var(--accent);
}

.current {
  background-color: var(--elementBg);
}

.current.isDark {
  background-color: var(--accent);
}
