DB_URI=MONGODB_CONNECTION_STRING
JWT_SECRET_KEY=JWT_SECRET
REFRESH_TOKEN_SECRET_KEY=REFRESH_TOKEN_SECRET
IMAGE_API_KEY=IMAGE_API_KEY_FROM_IMAGEBB
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:3001
EMAILJS_SERVICE_ID=YOUR_EMAILJS_SERVICE_ID
EMAILJS_PUBLIC_KEY=YOUR_EMAILJS_PUBLIC_KEY
EMAILJS_PRIVATE_KEY=YOUR_EMAILJS_PRIVATE_KEY
EMAILJS_VERIFICATION_TEMPLATE_ID=YOUR_EMAILJS_VERIFICATION_TEMPLATE_ID
