PORT=3001
DB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/db-name?retryWrites=true&w=majority
JWT_SECRET_KEY=your_jwt_secret_key
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret_key
IMAGE_API_KEY=your_imagebb_api_key
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:3001
EMAILJS_SERVICE_ID=service_xxxxxxx
EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EMAILJS_PRIVATE_KEY=your_emailjs_private_key
EMAILJS_VERIFICATION_TEMPLATE_ID=template_xxxxxxx
EMAILJS_RESET_TEMPLATE_ID=template_xxxxxxx
DEMO_USER_EMAIL=your_demo_user_email
